@font-face {
    font-family: 'Philly Sans';
    src: url('/fonts/PhillySans-Regular.woff') format('woff'),
         url('/fonts/PhillySans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* New container for centering the contact form */
         .contact-form-container {
             display: flex;
             justify-content: center;
             align-items: center;
             min-height: 100vh; /* Ensure full viewport height for centering */
         }

         /* .contact-form class */
        .contact-form {
            font-family: 'Philly Sans';
            font-size: 20px; 
            background-color: rgba(255, 255, 255, 0.8);  /* 0.8 is 80% opacity */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
        }

        }
        h2 {
            text-align: center;
            color: #333;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            color: #333;
        }
        .form-group input, .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group textarea {
            resize: vertical;
            min-height: 100px;
        }
        .form-group input[type="submit"] {
            font-family: 'Philly Sans';
            font-size: 20px; 
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        .form-group input[type="submit"]:hover {
            background-color: #45a049;
        }
